body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4f945e, #5a8a72);
    margin: 0;
}

.formulario {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.ingreso {
    font-weight: bold;
    margin-top: 10px;
}

.nombre {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 1rem;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

.nombre:focus {
    border-color: #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
    outline: none;
}

.errorNombre, 
.errorContraseña, 
.errorConfirmarContraseña {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.registro {
    margin-top: 15px;
    background: #667eea;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    border-radius: 5px;
}

.registro:hover {
    background: #5563c1;
}